.main {
  background-color: var(--white);
  color: var(--gray);
  display: flex;
  flex-direction: column;
  padding: 4rem 8rem;
  min-height: 100vh;

  & > h1 {
    font-size: 2.8rem;
  }
}

.filter {
  width: 100%;
  height: 50px;
  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eeeeee;
}

.filter_active {
  background-color: #f7f7f7;
}

.filter_ul {
  list-style: none;
  display: flex;
  gap: 20px;

  & > li {
    padding: 5px 10px;
    border-radius: 20px;
  }

  & > li:not(:first-child) {
    cursor: pointer;

    &:hover {
      background-color: #f7f7f7;
    }
  }
}

@media screen and (orientation: portrait) {
  .main {
    padding: 2rem 1rem;

    & > h1 {
      font-size: 2rem;
    }
  }

  .filter {
    margin-block: 10px 25px;
  }

  .filter_dropdown {
    display: block;
  }

  .filter_ul {
    display: none;
  }
}

@media screen and (orientation: landscape) {
  .filter_dropdown {
    display: none !important;
  }
}
